.book {
    display: inline-block;
    margin: 15px;
}
.books {
    text-align: center;
}

a {
    color: rgb(37, 102, 177);
    text-decoration: none;
}

a:hover{
    color: #fff;
}

.vs-button__content{
    font-size: 16px;
}

.vs-navbar{
    box-shadow: 0px 1px 4px 0px;
}
